* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    min-height: 100vh; /* tinggi minimum 100% layar */
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 80px;
    border-radius: 50%;
}

.content .card-1 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content .card {
    display: flex;
    color: white;
    padding: 20px;
    background-color: #7a7a73;
    flex-direction: column;
    border-radius: 10px;
    gap: 2rem;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    border: 1px solid black;
}
